{% extends "layout.html" %}

{% block content %}
<h2 class="my-4">Liste des Contacts</h2>
<div class="d-flex justify-content-between mb-3">
    <a href="{{ url_for('add_contact') }}" class="btn btn-primary">Ajouter un Contact</a>
    <form action="{{ url_for('search') }}" method="get" class="form-inline">
        <input type="text" name="query" class="form-control mr-2" placeholder="Rechercher un contact">
        <button type="submit" class="btn btn-secondary">Rechercher</button>
    </form>
</div>

{% if contacts %}
    <div class="row">
        {% for contact in contacts %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ contact.name }}</h5>
                    <p class="card-text">
                        <strong>Téléphone:</strong> {{ contact.phone }}<br>
                        <strong>Email:</strong> {{ contact.email }}
                        <strong>Catégorie:</strong> {{ contact.category }}
                    </p>
                    <a href="{{ url_for('edit_contact', id=contact.id) }}" class="btn btn-primary">Modifier</a>
                    <form action="{{ url_for('delete_contact', id=contact.id) }}" method="post" class="d-inline" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce contact ?');">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination justify-content-center">
        {% for page_num in range(1, total_pages + 1) %}
            <a href="{{ url_for('paginate', page_num=page_num) }}" class="btn btn-secondary {% if current_page == page_num %}active{% endif %}">{{ page_num }}</a>
        {% endfor %}
    </div>
{% else %}
    <p class="alert alert-warning">Aucun contact trouvé.</p>
{% endif %}
{% endblock %}
