<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionnaire de Contacts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function validatePhoneNumber() {
            const country = document.getElementById('country').value;
            const phone = document.getElementById('phone').value;
            let valid = false;
            let message = '';

            switch (country) {
                case '+1':
                    valid = /^\d{10}$/.test(phone);
                    message = 'Le numéro de téléphone doit contenir 10 chiffres pour les États-Unis/Canada.';
                    break;
                case '+33':
                    valid = /^\d{9}$/.test(phone);
                    message = 'Le numéro de téléphone doit contenir 9 chiffres pour la France.';
                    break;
                case '+44':
                    valid = /^\d{10}$/.test(phone);
                    message = 'Le numéro de téléphone doit contenir 10 chiffres pour le Royaume-Uni.';
                    break;
                case '+49':
                    valid = /^\d{10}$/.test(phone);
                    message = 'Le numéro de téléphone doit contenir 10 chiffres pour l’Allemagne.';
                    break;
                default:
                    valid = true;
                    break;
            }

            if (!valid) {
                alert(message);
            }

            return valid;
        }
    </script>
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Gestionnaire de Contacts</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="list-group">
                {% for message in messages %}
                    <li class="list-group-item list-group-item-danger">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
